# Database
DATABASE_URL="mysql://user:password@localhost:3306/next_ecommerce"

# NextAuth
AUTH_SECRET="your-secret-key-min-32-characters-here"
AUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="NextShop"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Bitship (Shipping)
BITSHIP_API_URL="https://api.biteship.com"
BITSHIP_API_KEY="your_bitship_api_key"

# Xendit (Payment)
XENDIT_SECRET_KEY="your_xendit_secret_key"
XENDIT_WEBHOOK_TOKEN="your_xendit_webhook_verification_token"

# Cron
CRON_SECRET="your_cron_secret"
